.progressBar {
    width: 18rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .progressLineContainer {
        position: relative;
        width: 9.37rem;
        height: 1rem;
        border-radius: .3rem;
        overflow: hidden;
    }

    .defaultLine {
        width: 100%;
        height: 100%;
        border-radius: .3rem;
        background: rgba(255, 0, 0, 1)
    }

    .completedLine {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: .3rem;
        background: #049d09;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform;
    }

    .runner {
        position: absolute;
        top: -.5rem;
        left: 0;
        width: .7rem;
        height: 2rem;
        background-color: #271dda;
        border-radius: .6rem;
        transform: translateX(0);
        transition: transform;
        box-sizing: content-box;
    }
}
