.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 5rem;
}

.animatedContainer {
  width: 48rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.progressBarContainer {
  width: 30rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.tabsContainer {
  width: 48rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.horizonContainer {
  width: 980px;
  height: 350px;
  border-radius: 14px;
  background-color: #757070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.verticalContainer {
  width: 350px;
  height: 560px;
  border-radius: 14px;
  background-color: #757070;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.carouselContainer {
  position: relative;
  width: 580px;
  height: 200px;
  border-radius: 14px;
  background-color: #757070;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.expandingCards {
  position: relative;
  margin: 30px;
}

.progressBarSteps {
  position: relative;
  margin: 30px;
}

.rotatingBG {
  position: relative;
  margin: 30px;
}

.hiddenSearch {
  display: flex;
  position: relative;
  margin: 30px;
}

.blurry {
  position: relative;
  margin: 30px;
}

.scrollAnimation {
  position: relative;
  margin: 30px;
}

.splitLandingPage {
  position: relative;
  margin: 30px;
}

.random {
  position: relative;
  margin: 30px;
}

.drinkWater {
  position: relative;
  margin: 30px;
}

.timer {
  position: relative;
  margin: 30px;
}

.buttonEffect {
  position: relative;
  margin: 30px;
}

.dragNDrop {
  margin: 30px;
}

.drawPlace {
  margin: 30px;
}

.kineticLoader {
  position: relative;
  margin: 50px;
}

.placeholder {
  margin: 30px;
}

.sliderContainer {
  margin: 30px;
}

.notification,
.githubProfile,
.doubleClick,
.textEffect,
.passwordGenerator,
.goodCheapFast,
.animatedCountdown,
.hoverBoard,
.verifyAccount {
  margin: 30px;
}