.textarea {
    width: 250px;
    height: 150px;
}

.container {
    max-width: 250px;
}

.p {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}